.section {
	height: 100vh; /* Adjust as needed */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	transition: transform 0.5s, height 1s; /* Include height transition */
}
