.clientCard{
    position: relative;
}
.clientCard::before {
    content: '';
    height: 0.4rem;
    width: 0.4rem;
    position: absolute;
    right: -0.4rem;
    bottom: -0.4rem;
    border-radius: 50%;
    background-color: #fff;
}
