.card {
	position: relative;
	display: flex;
	flex-direction: column;
}

.card:hover .desc {
	-webkit-line-clamp: 4;
}

.card:hover .blackOverlay::after {
	height: 100%;
}

.hiddencontent {
	transition: all 0.3s ease-in-out;
}

.card:hover .hiddencontent {
	height: 11rem;
	opacity: 1;
}

.blackOverlay::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 48%;
	left: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: -1;
	transition: height 0.3s ease-in-out;
}

.desc {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow-y: hidden;
}

@media screen and (max-width: 1024px) {
	.blackOverlay::after {
		height: 100%;
	}
	.card {
		justify-content: start;
	}
	.card:hover .desc {
		-webkit-line-clamp: 3;
	}
	.desc {
		-webkit-line-clamp: 3;
	}
	.hiddencontent {
		height: 8rem;
		opacity: 1;
		margin-top: 2rem;
	}
}
@media screen and (max-width: 596px) {
	.hiddencontent {
		height: 8rem;
		opacity: 1;
		margin-top: 2rem;
	}
	.blackOverlay::after {
		height: 100% !important;
	}
	.desc {
		-webkit-line-clamp: 3 !important;
	}
}
@media screen and (max-width: 950px) and (max-height: 450px) {
	.card {
		min-height: 43rem !important;
	}
}
@media screen and (max-width: 767px) and (max-height: 450px) {
	.card {
		min-height: 35rem !important;
	}
	.medium {
		margin-bottom: 2rem !important;
	}
}
@media screen and (max-width: 670px) and (min-height: 320px) {
	.tab {
		padding: 2rem;
	}
	.blackOverlay {
		padding: 2rem;
	}
}
