.tabLink {
	position: relative;
	border-color: rgba(0, 0, 0, 0.5);
	color: #989898;
}
@media only screen and (min-width: 1601px) {
	.tabLink {
		padding: 40px 0;
	}
}
.tabLink::after {
	content: '';
	position: absolute;
	width: 7rem;
	height: 3.6rem;
	right: -5%;
	top: 50%;
	transform: translateY(-50%);
	background: url(/Arrow_r.svg) no-repeat 100% center;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
.tabLink::before {
	content: '';
	position: absolute;
	width: 13rem;
	height: 2.8rem;
	top: 6%;
	left: 0;
	background-image: url('/foundation_text.svg');
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
.tabLink.active::before {
	opacity: 1;
}
.tabLink.active {
	color: #000;
	border-color: rgba(0, 0, 0);
}
.tabLink.active::after {
	right: -7%;
	opacity: 1;
}

.tabSlider {
	overflow: unset;
}
.contentLink {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding-top: 5rem;
	padding-bottom: 4.9rem;
}
@media only screen and (min-width: 1601px) {
	.contentLink {
		padding: 40px 0;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
	.tabLink {
		font-size: 18px;
	}
}

@media (max-height: 950px) and (min-height: 640px) and (min-width: 1200px) {
	.tabLink {
		padding: 3rem 0;
	}
	.contentLink {
		padding-top: 3rem;
		padding-bottom: 2.9rem;
	}
}
@media (max-height: 950px) and (min-height: 640px) and (max-width: 1200px) and (min-width: 992px) {
	.tabLink::after {
		height: 5.7rem;
	}
}

/* @media (max-height: 950px) and (min-height: 801px) and (min-width: 1200px) {
	.tabContent ul li {
		padding-top: 3.8rem;
		padding-bottom: 3.8rem;
	}
}
@media (max-height: 800px) and (min-height: 701px) and (min-width: 1200px) {
	.tabContent ul li {
		padding-top: 2.8rem;
		padding-bottom: 2.8rem;
	}
}
@media (max-height: 700px) and (min-height: 601px) and (min-width: 1200px) {
	.tabContent ul li {
		padding-top: 3.4rem;
		padding-bottom: 3.4rem;
	}
}
@media (max-height: 600px) and (min-width: 1200px) {
	.tabContent ul li {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
} */

.accordionHeader::after {
	content: '';
	position: absolute;
	width: 35px;
	height: 35px;
	top: 50%;
	right: 0.2rem;
	transform: translateY(-50%);
	background-image: url(/plusButton.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
}
.accordionHeader.active::after {
	background-image: url(/minusButton.svg);
}
.accordionLink {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.listWrap li:last-child {
	border-color: transparent;
}
.activeContent {
	transform: translateX(0);
	z-index: 2;
}
.prevContent {
	transform: translateX(-100%);
	z-index: -1;
}
.priorContent {
	transform: translateX(-100%);
	z-index: -1;
}