<section class="newsblade h-full bg-gray lg:min-h-[unset]">
    <div class="container">
        <div class="wrapper w-full max-w-[105rem] flex flex-wrap items-center">
            <h6 class="font-normal mb-[2rem] subtitle">Outcomes</h6>
            <h2 class="h1 mb-[3rem]">
                <span class="text-pink inline-block relative underline-container black">$46 million  </span> 
                in growth round.
            </h2>
            <h4 class="font-normal medium-bold">
                Clear Digital's bold new brand identity, reimagined digital presence, and enhanced narrative flow for Leadspace were instrumental in significantly boosting its profile for fundraising.
            </h4>
        </div>
    </div>
</section> 