<section class="banner-third  dark__overlay     height__full bg-black overflow-hidden grid__parallax flex items-center ptsp">
    <div class="breadcrumbs w-full">
        <div class="container">
            <ul class="absolute top-[15%] z-[10] sm:top-[12%]">
                <li class="inline relative text-[14px] xl-up:text-[1.4rem] list font-normal leading-[24px] mr-[1rem] pr-[1rem] laptop:pr-[1.5rem] text-[white] "><a class=" hover:text-pink transition-all" href="/work">Work</a></li>
                <li class="inline relative text-[14px] xl-up:text-[1.4rem] list font-normal leading-[24px] mr-[1rem] pr-[1rem] laptop:pr-[1.5rem] text-[white] "><a class=" hover:text-pink transition-all" href="/case-studies-overview">Case Studies </a></li>
                <li class="inline relative text-[14px] xl-up:text-[1.4rem] list font-normal leading-[24px] mr-[1rem] pr-[1rem] laptop:pr-[1.5rem] text-[white] "><span class="">Sift</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="max-w-[117rem]    content-wrap xxl-up:pt-[16.9rem] pt-[16.9rem] laptop:pt-[14rem] lg:pt-[12rem] relative z-[3]  xxl-up:pb-[0] xxl-down:pb-[0] sm:!pt-[80px]">
            <h1 class=" lg:pr-[30px] h2 text-white">Sift: Data management realigned and 
                <!-- --><span class="whiteThin text-pink inline-block relative underline-container"> <!-- -->redefined</span>
                <!-- -->
            </h1>
            <p class="  mt-[2.9rem] max-w-[93rem]">Sed ligula massa, finibus et ultricies vel, molestie ut sem. Proin sollicitudin vel quam eu posuere. Maecenas laoreet congue ultrices. Donec est nisi, convallis eget euismod eu, commodo ut erat. Donec gravida sollicitudin ligula, sit amet dictum quam aliquet at. Proin vel orci eleifend, tempus nunc vel, ornare quam. Vestibulum eget tortor a mauris pellentesque sollicitudin vitae dignissim odio. Suspendisse sagittis sem odio. Morbi scelerisque ipsum vitae.</p>
            <div class="area-wrap max-w-[500px] sm:max-w-[100rem] flex flex-wrap mt-[2.9rem] ">
                <div class="content relative w-[50%] max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] medium boldlink !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Brand strategy</a></div>
                <div class="content relative w-[50%]  max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] boldlink medium !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Motion graphics</a></div>
                <div class="content relative  w-[50%]  max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] medium boldlink !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Content development</a></div>
                <div class="content relative  w-[50%]  max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] medium boldlink !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Web development</a></div>
                <div class="content relative  w-[50%]  max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] medium boldlink !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Creative services</a></div>
            </div>
    </div>

</section>
