<section class="footerCta grid__parallax height__full-nav">
    <div class="bg-img dark__overlay">
      <img src="/Imagecta.png" alt="image" class="w-full h-full object-cover" />
    </div>
    <div class="container">
      <div class="wrapper w-full laptop:w-[calc(100%+3rem)] relative flex flex-wrap items-center">
  
        <!-- Default rendering if no condition matches -->
        <!-- Default Links section -->
        <div class="">
          <h6 class="text-white mb-[20px] subtitle font-normal">Lorem ipsum dolor</h6>
          <h2 class="h1 text-white mb-[30px] font-weight-[700]">Let's talk.</h2>
          <div>
            <a class="btn pink white-bordered" href="#">Contact us</a>
          </div>
        </div>
        
      </div>
    </div>
  </section>