<section class="relative flex height__full-nav flex-wrap p-0 h-[54.5rem] lg:h-[30.5rem] sm:h-auto">

    <div class="absolute left-0 top-0 w-1/2 h-full overflow-hidden">
        <img src="/Clear-Hortonworks-Half-1.png" alt="Left Image" class="w-full h-full object-cover">
    </div>
    <div class="absolute right-0 top-0 w-1/2 h-full overflow-hidden">
        <img src="/Clear-Hortonworks-Half-2.png" alt="Right Image" class="w-full h-full object-cover">
    </div>
    <div class="container relative z-10 w-full">
        <!-- Your content here -->
    </div>
</section>
