<section class="intro default-padding container mx-auto">
   <div class="container">
    <div class="flex flex-wrap justify-between items-center relative w-full">
      <div class="contentwrapper pr-[10px] max-w-[69rem]">
        <h6 class="mb-5 font-normal">Related case studies</h6>
        <h3 class="font-bold">Nisl <span class="text-pink">pulvinar</span> consectet nec lipsum dolor</h3>
      </div>
      <div class="btnwrapper mt-[60px] lg:mt-[40px] sm:!mt-[30px]">
        <a class="btn text-white bg-pink py-2 px-4 rounded" href="/case-studies-overview">View all case studies</a>
      </div>
    </div>
   </div>

    </div>
  </section>