<section class="py-[5.6rem] lg:py-[4rem] sm:!py-[3rem] bg-black">
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-between">
      <!-- Previous Article -->
      <div class=" lg:w-auto lg:text-left mb-10 sm:w-full sm:mb-8 sm:hidden">
        <a href="/case-studies-detail#" class="text-white pl-12 tertiary-btn">Previous article</a>
      </div>

      <!-- Next Article -->
      <div class=" lg:w-auto lg:text-right mb-10 sm:w-full sm:mb-8">
        <a href="/case-studies-detail#" class="text-white pr-12 tertiary-btn">Next article</a>
      </div>
    </div>
  </div>
</section>