<section class="relative flex height__full-nav flex-wrap p-0 h-[54.5rem] lg:h-[30.5rem] sm:h-auto">
  <div class="relative w-1/2 h-1/2 left-0 top-0">
    <img src="/Clear-Mountz-Quarter-3.png" alt="Quarter 3" class="absolute left-0 top-0 w-full h-full object-cover">
  </div>
  <div class="relative w-1/2 h-1/2 bottom-0 left-0">
    <img src="/Clear-Mountz-Quarter-4.png" alt="Quarter 4" class="absolute left-0 bottom-0 w-full h-full object-cover">
  </div>
  <div class="relative w-1/2 h-full right-0 top-0">
    <img src="/Clear-Mountz-Half-2.png" alt="Half 2" class="absolute right-0 bottom-0 w-full h-full object-cover">
  </div>
  <div class="container relative z-10 w-full">
  </div>
</section>