<section class="py-20 lg:py-16 sm:py-12 bg-black">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-between">
            <!-- Previous Article -->
            <div class=" lg:w-auto lg:text-left mb-10 sm:w-full sm:mb-8 sm:hidden">
                <a href="/case-studies-detail#" class="text-white pl-12 tertiary-btn">Previous article</a>      
            </div>

            <!-- Next Article -->
            <div class=" lg:w-auto lg:text-right mb-10 sm:w-full sm:mb-8">
                <a href="/case-studies-detail#" class="text-white pr-12 tertiary-btn">Next article</a>
            </div>
        </div>
    </div>
</section>