<section class="banner-third  dark__overlay     height__full bg-black overflow-hidden grid__parallax flex items-center ptsp">
    <div class="container">
        <div class="max-w-[117rem]    content-wrap xxl-up:pt-[16.9rem] pt-[16.9rem] laptop:pt-[14rem] lg:pt-[12rem] relative z-[3]  xxl-up:pb-[0] xxl-down:pb-[0] sm:!pt-[80px]">
            <h1 class=" lg:pr-[30px] h2 text-white">EA:
                <!-- --><span class="whiteThin text-pink inline-block relative underline-container"> <!-- -->Custom branded </span>
                <!-- -->
                event
management system.
            </h1>
            <p class="  mt-[2.9rem] max-w-[93rem]">
                Electronic Arts is a leading global interactive entertainment software company. EA delivers
                games, content and online services for Internet-connected consoles, personal computers,
                mobile phones and tablets. Clear Digital worked with EA to create a unique event registration
                and management system. The EA event management system prints tickets for all attendees
                for fast and easy check-in. With quick QR recognition on the mobile application for the event
                manager, tracking attendance is a snap.</p>
            <div class="area-wrap max-w-[500px] sm:max-w-[100rem] flex flex-wrap mt-[2.9rem] ">
                <div class="content relative w-[50%] max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] medium boldlink !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Brand strategy</a></div>
                <div class="content relative w-[50%]  max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] boldlink medium !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Motion graphics</a></div>
                <div class="content relative  w-[50%]  max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] medium boldlink !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Content development</a></div>
                <div class="content relative  w-[50%]  max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] medium boldlink !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Web development</a></div>
                <div class="content relative  w-[50%]  max-w-[210px] mb-[1.5rem] mr-[2.8rem] sm:w-[100%] sm:max-w-[100%] sm:mr-[0]"><a class="text-[white] medium boldlink !font-bold hover:text-pink transition-all" href="/case-studies-detail#">Creative services</a></div>
            </div>
            <div class="flex items-center flex-wrap m-0"></div>
            <div class="btn-wrap mt-[4.8rem] sm:mt-[3rem]"><a class="link text-[#FA198C] medium font-bold relative" href="/">Gold Addy Award</a></div>
        </div>
    </div>
    <div class="bg-img dark__overlay"><video class="video-bg overlay" poster="https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/iStock-1280582431-1.webp" autoplay="" loop="" muted=""><source src="https://media.istockphoto.com/id/1372283447/video/attractive-woman-wearing-virtual-reality-headset-augmented-reality-creative-lady-swiping.mp4?s=mp4-640x640-is&amp;k=20&amp;c=Flz0Jza76gPaFZyEJ8X6114fy__lJc1m_4_yKZRZsVo=" type="video/mp4"></video></div>
</section>
