<section class="relative flex height__full-nav flex-wrap p-0 h-[54.5rem] lg:h-[30.5rem] sm:h-auto">
    <img src="/Clear-EA-Sports-Quarter-1.png" class="absolute left-0 top-0 w-1/2 h-1/2 object-cover" alt="EA Sports Quarter 1">
    <img src="/Clear-EA-Sports-Quarter-2.png" class="absolute right-0 top-0 w-1/2 h-1/2 object-cover" alt="EA Sports Quarter 2">
    <img src="/Clear-EA-Sports-Half-1.png" class="absolute right-0 bottom-0 w-full h-1/2 object-cover" alt="EA Sports Half 1">
    <div class="container relative z-10 w-full">
        <!-- Your content here -->
    </div>
</section>
